* {
    margin: 0;
    padding: 0;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shere itrem */
.display-flex {
    display: flex;

}

/* header */


/* navber */
.navber-banner {
    background-color: rgba(255, 144, 14, 0.1);
}

.navber {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    color: rgb(19, 19, 19);
    font-size: 2.85rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
}

.li-item {
    list-style: none;
    margin-right: 30px;

}

.nav-links {
    justify-content: space-between;
}

.nav-link {
    color: rgb(66, 66, 66);
    font-size: 1.02rem;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

.menu-btn {
    width: 36px;
}

.hidden {
    display: none;
}

.architects {
    max-width: 865px;
    margin: 50px auto;
    text-align: center;
}

.grope-h {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    margin-bottom: 30px;
}

.grope-p {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    border: none;
    margin-bottom: 25px;
}

.banner {
    max-width: 1440px;
    margin: 0 auto;

}

.banner-img {
    width: 100%;
}

/* main */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.quick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.quick-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* .there {
    max-width: 455px;
    margin: 0 auto;
} */

.Our-h {
    font-size: 2.76rem;
    font-weight: 800;
    line-height: 53px;
    margin-bottom: 10px;
}

.quick {
    color: rgb(114, 114, 114);
}

.quickof {
    color: rgb(255, 144, 14);
}

.our-p {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;

}

.alteration {
   box-shadow: 8px 8px 8px gray;
   /* margin: 30px auto; */
   padding: 30px;
   border-radius: 12px;
}

.Features-you-h {
    color: rgb(19, 19, 19);
    font-size: 1.2rem;
    font-weight: 600;
   
}

.Features-you-p {
    color: rgb(19, 19, 19);
    font-size: 1rem;
    font-weight: 400;
  
}
.Features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    max-width: 1440px;
    margin: 0 auto;
    /* margin-top: 130px; */
    padding: 6px;
}




/* Features you will love & enjoy */

@media screen and (max-width: 576px) {
    .nav-link {
        display: none;
    }

    .hidden {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;

    }

    .brand {
        margin-left: 2.5rem;
    }

    .quick-img {
        /* width: 100%; */
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list {
        flex-direction: column;
        gap: 20px
    }
    .Features{
        display: grid;
        grid-template-columns: repeat(1 1fr);
        gap: 20px;
    }

}